BODY{ 
  margin:10px;
  background-color: #adbddf;
  text-align: center;
}

.App-Raamat{
  display: inline-block;
}

.App-Sisu{
  color:#333333;
  display: inline-block;
  text-align:left;
  padding:10px;
  vertical-align: top;
  
  width:420px;
}

.tst{
  border: 1px solid green;
}
